body
{
    margin: 0;
    padding: 0;
}
/******************** option ******************************/
#rail,#flight
{
    height: 40px;
    width: 100px;
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
}
/******************* page 1 *******************************/
#page1
{
    border-bottom: 3px solid green;
}
#h1{
    text-align: center;
    font-size: 35px;
    color:green;
    font-family: consolas;
    
}
h2{
    text-align: center;
    font-size: 15px;
    color:green;
    font-family: Arial, Helvetica, sans-serif;
}
h4{
    font-size: 15px;
    text-align: center;
    color: blue;
}
#img1,#img2
{
    border-radius: 50%;
}
/********************** page 2 ******************************/
#page2
{
    margin-top: 10px;
    border-bottom: 3px solid green;
}
label
{
    font-size: 30px;
}
select
{
    font-size: 17px;
}
#txt
{
    font-size: 20px;
}
#form1
{
    margin-left: 20px;
}
#txt2
{
    font-size: 24px;
}
/******************** page 3 **********************************/
#table1,td,thead
{
    font-size: 30px;
    border: 3px solid green;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    
}
#sel1,#sel2
{
    font-size: 25px;
    width: 150px;
}
#inp
{
    font-size: 18px;
    height: 35px;
    font-weight: 600;
}
#sel
{
    font-size: 25px;
    width: 500px;
}
#inp1
{
    width: 500px;
    font-size: 18px;
    height: 35px;
}
#lab
{
    font-size: 40px;
    margin-top: 70px;
}
#txt3
{
    height: 40px;
    width: 730px;
    font-size: 30px;
}
#page3
{
    border-bottom: 3px solid green;
}

/************************ page 4 *****************************/
#page4
{
    height:100px;
    width: cover;
}
#btnpnb
{
    height: 40px;
    width: 100px;
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
}
#btnboi
{
    height: 40px;
    width: 100px;
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
}
#pnb
{
    display: none;
    border: 3px blue;
    border-style: dotted;
    border-width: 6;
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 30px;
}
#boi
{   display: none;
    border: 3px blue;
    border-style: dotted;
    border-width: 6;
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 30px;
}
span
{
    color:red;
}
#lab1
{
    font-size: 40px;
}
/******************** page 5 ***********************/
#imgsig
{
    width: 300px;
    height: 100px;
    margin-top: 350px;
}
#sig
{
    float: right;
    margin-top: 500px;
    font-size: 30px;
    margin-right: -300px;

}
input,select
{
    color: blue;
}
/********************* end **************************/
